---
import Layout from '@/layouts/Layout.astro';
import HorariosGestion from '@/components/gestion/HorariosGestionNuevo.vue';
---

<Layout>
  <div class="min-h-screen bg-white pt-32 py-8 px-4">
    <div class="max-w-7xl mx-auto">
      <HorariosGestion client:load />
    </div>
  </div>
</Layout>
